/*welcome styles*/
.welcometxt{
    text-align: center;
}
#welcome{
    background: url("../Images/assets/backgrounds/h_img.jpg") no-repeat;
    background-size: cover;
    color:white;
    padding-top: 150px;
    padding-bottom: 50px;
}
.welcometxt p{
    font-family:  'Playfair Display', serif;
    font-weight: bold;
}
.scrolicon{
    text-align: center;
}
.iconshake{
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 15%, 40%, 60%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-40px);
    }
}
/* about*/
.centering{
    text-align: center;
}
#about{
    padding-top: 70px;
    padding-bottom: 70px;
}
.abouttxt{
    font-family: 'Piazzolla', serif;
}
.abouttxt h1{
    font-weight: bold;
}
/*services*/