/*welcome styles*/
.welcometxt{
    text-align: center;
}
#welcome{
    background: url("../Images/assets/backgrounds/h_img.jpg") no-repeat;
    background-size: cover;
    color:white;
    padding-top: 150px;
    padding-bottom: 50px;
}
.welcometxt p{
    font-family:  'Playfair Display', serif;
    font-weight: bold;
}
.scrolicon{
    text-align: center;
}
.iconshake{
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 15%, 40%, 60%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-40px);
    }
}
/* about*/
.centering{
    text-align: center;
}
#about{
    padding-top: 70px;
    padding-bottom: 70px;
}
.abouttxt{
    font-family: 'Piazzolla', serif;
}
.abouttxt h1{
    font-weight: bold;
}
/*services*/
#services{
    background: url("../Images/assets/backgrounds/s_image.jpg")no-repeat;
    background-size: cover;
    color:white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.servicestxt{
    font-family: 'Piazzolla', serif;
}
.servicestxt h1{
    font-weight: bold;
}
.design-desc{
    display: none;
    text-align: center;
    padding:30px;
    font-family: 'Peddana', serif;
}
.dev-desc{
    display:none;
    text-align: center;
    padding:30px;
    font-family: 'Peddana', serif;
}
.prod-desc{
    display:none;
    text-align: center;
    padding:20px;
    font-family: 'Peddana', serif;
}
#s1,#s2,#s3{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*What we do*/
#whatwedo{
    padding-top: 50px;
    padding-bottom: 50px;
}
.service_icon{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.service-container{
    margin: 20px;
}
.whatwedotxt{
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}

/*portofolio*/

.portofoliotxt{
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}
.card-body{
    display: none;
    padding: 0.25rem;
    position:absolute;
    top:80%;
    background-color: white;
    width: 100%;
    text-align: center;
    
}
.card{
    margin-top: 20px;
    margin-bottom:30px;
    margin-right:20px;
}
.card-title{
    font-family: 'Roboto Slab', serif;
}


/*contact*/
#contact{
    background: url("../Images/assets/backgrounds/c_image.jpg")no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 150px;
    color:white;
}
.contacttxt{
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}
.form{
    background-color: transparent;
    color: white;
    padding-top: 50px;
    

}
.form-control{
    background-color: transparent;
    color: white;
}


.error {
    color: red;
    margin-left: 5px;
  }
  
  label.error {
    display: inline;
  }
  /*footer*/
.footer{
    padding-top: 40px;
}